@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*====================================== VARIABLES CSS =========================================*/
:root {
    --header-height: 3rem;

    /*================ Colors =================*/
    /* Change favorite color */
    --hue-color: 230; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    /*--title-color: hsl(var(--hue-color), 8%, 15%);*/
    --title-color: white;
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);


    /*=========== Font and typography ===========*/
    --body-font:  'Poppins', sans-serif;

    --bid-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.15rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*=============== Font weight ===============*/
    --font-medium: 500;
    --font-semi-bold: 600;


    /*============= Margenes Bottom =============*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*================= z index =================*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

}

/*====================================== BASE =========================================*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--first-color-second);
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/*====================== LAYOUT ======================*/
.container{
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--first-color-second);
}

/*====================================== NAV =========================================*/
.nav{
    max-width: 768px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
    padding: 1rem;
}

.nav__logo:hover{
    color: var(--first-color);
}

.nav__toggle{
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover{
    color: var(--first-color);
}

.search__location > .uil-search{
    width: 05px;
	border: 0px;
	position: relative;
	top:1px;
    color: white;
}

.search__form{
    display: flex;
    padding: 1rem;
}

.search__location{
    border:1px solid white;
    padding: 0.5rem;
}

.location__input{
    font-weight: var(--font-medium);
    border: 0px;
    color: white;
    text-align: center;
}

.location__input:focus{
    outline: none;
}


/*=============== BUTTONS ================*/
.button{
    display: inline-block;
    background-color: var(--first-color);
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    font-weight: var(--font-medium);
}

.button:hover{
    background-color: var(--first-color-alt);
}

.button__icon{
    font-size: var(--font-medium);
    transition: .3s;
}

.button__white{
    background-color: #FFF;
    color: var(--first-color);
}

.button__white:hover{
    background-color: #FFF;
}

.button--flex{
    display: inline-flex;
    align-items: center;
}

.button--small{
    padding: .7rem 1rem;
}

.button--link{
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover{
    background-color: transparent;
    color: var(--first-color-alt);
}

.search__location > .button__icon{
    width: 30px;
	border: 10px;
	position: relative;
	top:1px;
    color: white;
}


/*================= MEDIA QUERIES =================*/
/* Small devices */
@media screen and (max-width: 500px) {
    .nav__logo{
        display:none;
    }
    .container{
        margin: auto;
    }
    .search__location > .button__icon{
        display: none;
    }
}


@media screen and (max-width: 350px) {    
    .nav__list{
        column-gap: 0;
    }

    .home__content{
        grid-template-columns: .25fr 3fr;
    }

    .home__blob{
        width: 180px;
    }

    .skill__title{
        font-size: var(--normal-font-size);
    }

    .qualification__data{
        gap: .5rem;
    }

    .services__contianer{
        grid-template-columns: max-content;
        justify-content: center;
    }

    .services__content{
        padding-right: 3.5rem;
    }

    .services__modal{
        padding: 0 .5rem;
    }

    .project__img{
        width: 200px;
    }

    .testimonial__data,
    .testimonial__header{
        flex-direction: column;
        align-items: center;
    }

    .testimonial__img{
        margin-right: 0;
        margin-bottom: var(--mb-0-25);
    }

    .testimonial__data,
    .testimonial__description{
        text-align: center;
    }
}

/* Medium devices */
@media screen and (min-width: 568px) {
    .home__content{
        grid-template-columns: max-content 1fr 1fr;
    }

    .home__data{
        grid-column: initial;
    }

    .home__img{
        order: 1;
        justify-self: center;
    }

    .about__container,
    .portfolio__content,
    .project__container,
    .contact__container,
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }

    .qualification__sections{
        display: grid;
        grid-template-columns: .6fr;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    body{
        margin: 0;
    }

    .section{
        padding: 6rem 0 2rem;
    }

    .section__subtitle{
        margin-bottom: 4rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer__container{
        padding: 0 1rem;
    }

    .nav{
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon,
    .nav__close,
    .nav__toogle{
        display: none;
    }

    .nav__list{
        display: flex;
        column-gap: 2rem;
    }

    .nav__menu{
        margin-left: auto;
    }

    .change-theme{
        margin: 0;
    }

    .home__container{
        row-gap: 5rem;
    }

    .home__content{
        padding-top: 5.5rem;
        column-gap: 2rem;
    }

    .home__blob{
        width: 270px;
    }

    .home_scroll{
        display: block;
    }

    .home__scroll-button{
        margin-left: 3rem;
    }

    .about__container{
        column-gap: 5rem;
    }

    .about__img{
        width: 350px;
    }

    .about__description{
        text-align: center;
    }

    .about__info{
        justify-content: space-between;
    }

    .about__buttons{
        justify-content: initial;
    }

    .qualification__tabs{
        justify-content: center;
    }

    .qualification__button{
        margin: 0 var(--mb-1)
    }

    .qualification__sections{
        grid-template-columns: .5fr;
    }    

    .services__content{
        grid-template-columns: repeat(3, 218px);
        justify-content: center;
    }

    .services__icon{
        font-size: 2rem;
    }

    .services__content{
        padding: 6rem 0 2rem 2.5rem;
    }

    .services__modal-content{
        width: 450px;
    }

    .portfolio__img{
        width: 320px;
    }

    .portfolio__content{
        align-items: center;
    }

    .project{
        text-align: initial;
    }

    .project__bg{
        background: none;
    }

    .project__container{
        background-color: var(--first-color-second);
        border-radius: 1rem;
        padding: 3rem 2.5rem;
        grid-template-columns: 1fr max-content;
        column-gap: 3rem;
    }

    .project__data{
        padding-top: .8rem;
    }

    .footer__container{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__bg{
        padding: 3rem 0 3.5rem;
    }

    .footer__links{
        flex-direction: row;
        column-gap: 2rem;
    }

    .footer__socials{
        justify-self: flex-end;
    }

    .footer__copy{
        margin-top: 4.5rem;
    }
    .uil-apps{
        visibility:hidden;
    }
}

/* Large devices */
@media screen and (min-width: 1024px){
    .header,
    .main,
    .footer__container{
        padding: 0;
    }

    .home__blob{
        width: 320px;
    }

    .home__social{
        transform: translateX(-6rem);
    }

    .services__container{
        grid-template-columns: repeat(2.5, 238px);
    }

    .portfolio__content{
        column-gap: 5rem;
    }

    .swiper-portfolio-icon{
        font-size: 3.5rem;
    }

    .swiper-button-prev{
        left: -3.5rem;
    }

    .swiper-button-next{
        right: -3.5rem;
    }

    .swiper-container-hotizontal > .swiper-pagination-bullet{
        bottom: -4.5rem;
    }

    .contact__form{
        width: 460px;   
    }

    .contact__input{
        grid-template-columns: repeat(2, 1fr);
    }

    .uil-apps{
        visibility:hidden;
    }
}